@import '~bootstrap/scss/bootstrap';

:root {
  --green: #080;
  --black: #000;
  --red: #f00;
}

.border {
  border: 3px solid var(--black);
  margin: 20px;
  padding: 20px;
}

.success {
  background-color: var(--green);
}

.failure {
  background-color: var(--red);
}

.hidden {
  display: none;
}

.addEventForm {
  position: relative;
  float: right;
  border: 2px solid #003B62;
  font-family: verdana;
  background-color: #B5CFE0;
  padding-left: 10px;
}
